.about-container {
    background-color: #fff;
    padding: 50px;
    text-align: center;
  }
  
  .about-title h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .about-title p {
    font-size: 18px;
    color: #777;
    margin-bottom: 40px;
  }
  
  .about-content h3,
  .core-values h3 {
    font-size: 28px;
    color: #ff5e13; /* Orange color matching your theme */
    margin-bottom: 20px;
  }
  
  .about-list,
  .core-values-list {
    list-style: none;
    padding: 0;
  }
  
  .about-list li,
  .core-values-list li {
    font-size: 18px;
    color: #555;
    margin-bottom: 15px;
  }
  
  .about-list li::before,
  .core-values-list li::before {
    content: '✔️'; /* Add checkmark before each list item */
    color: #ff5e13;
    margin-right: 10px;
  }
  
  /* AboutSection.css */
.row.mt-5 {
    margin-top: 3rem; /* Adjust spacing as necessary */
  }
  
  h2.mb-4 {
    font-size: 2rem; /* Adjust size for the main heading */
  }
  
  h3 {
    font-size: 1.5rem; /* Adjust size for the subheadings */
    color: #ff5e13; /* Example color for emphasis */
  }
  
  p {
    color: #6c757d; /* Secondary text color */
  }
  
   /* CSS */
   .button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #db6541;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-85:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f16f19;
    left: 0;
    top: 0;
    border-radius: 10px;
  }