/* Base styling */
.custom-nav-link {
  color: #292929;
  transition: color 0.3s ease;
  font-weight: bold;
}

.custom-nav-link:hover {
  color: #ff5e13;
}

/* Logo Styling */
.logo-img {
  width: 80px;
}

@media (max-width: 990px) {
  .logo-img {
    width: 60px; /* Adjust logo size for smaller screens */
  }
}

/* Navbar button */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  color: #fff;
  background: #db6541;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f16f19;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* Responsive changes below 990px */
@media (max-width: 990px) {
  .button-85 {
    width: 100%; /* Full width button for smaller screens */
    margin-bottom: 15px; /* Spacing at the bottom */
  }

  .phone-number {
    display: block; /* Stack phone number vertically */
    font-size: 1.2rem;
  }

  .custom-nav-link {
    font-size: 1rem; /* Adjust font size for smaller screens */
    margin-bottom: 15px; /* Add space between menu items */
  }
  
  .navbar-nav {
    justify-content: center; /* Center nav items on small screens */
  }
}
