.main-image-section {
  position: relative;
}


.contact-form {
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow */
  z-index: 10; /* Higher z-index for better visibility */
}

.contact-form h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.mainformbtn {
  width: 100%;
}

