.our-projects-container {
  text-align: center;
  padding: 50px 20px;
  background-color: #ff5e13;
}

.our-projects-container h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 30px;
  color: #ffffff;
}

.our-projects-container p {
  font-size: 1.2rem;
  color: #f8ecec;
}

.projects-list {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
  -ms-overflow-style: none;  /* Hide scrollbar in IE and Edge */
}

.projects-list::-webkit-scrollbar {
  display: none;  /* Hide scrollbar in Chrome, Safari, and Opera */
}

.project-item {
  flex: 0 0 auto; /* Prevent shrinking */
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: transform 0.3s ease-in-out;
}

.project-item:hover {
  transform: scale(1.05); /* Slight zoom effect on hover */
}

.project-item img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  border-radius: 8px;
}

.project-item h3 {
  font-size: 1.5rem;
  color: #ff5e13;
}

.project-item p {
  color: #666;
}
